@import 'variables';

.heart-button {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 33px;
    &:hover .heart-full {
        clip-path: inset(0 0 0 0);
        -webkit-text-stroke: unset;
    }
    &:hover .heart-empty {
        clip-path: inset(0 0 100% 0);
    }
    .fa-heart {
        font-size: 24px;
    }
    .heart-empty {
        position: absolute;
        -webkit-text-stroke: 1px black;
        color: transparent;
        top: 0;
        left: 0;
        z-index: 1;
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.6s ease;
        margin: 0;
    }
    .heart-full {
        font-size: 25px;
        position: absolute;
        top: -0.5px;
        left: -0.5px;
        z-index: 2;
        background: linear-gradient(1deg, $primary 0%, $secondary 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        clip-path: inset(100% 0 0 0);
        transition: clip-path 0.6s ease;
        margin: 0;
    }
}

.add-to-cart {
    position: absolute;
    width: 25%;
    height: 65px;
    left: 75%;
    background-color: $pastel-green;
    border-radius: 0 15px 15px 0;
    clip-path: inset(0 0 0 100%);
    transition: clip-path 0.6s ease;
    z-index: 2;
    .fa-circle-check {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        height: 65px;
    }
}