@import 'variables';

.purple-button {
    display: block;
    margin: 20px auto;
    color: white;
    border: none;
    font-family: Roboto;
    font-size: 13px;
    border-radius: 50px;
    padding: 14px 20px;
    width: 185px;
    background: linear-gradient(1deg, $primary 0%, $secondary 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    &:hover, &:active {
        background: linear-gradient(1deg, $primary-light 0%, $secondary-light 100%);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
    }
}

.function-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: $light-grey;
    border-radius: 20px;
    padding: 5px;
    height: 50px;
    width: 90%;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.12);
    p {
        font-size: 15px;
        font-weight: 500;
    }
    .function-icon {
        margin-left: 6%;
        margin-right: 3%;
    }
    i {
        margin-right: 4%;
    }
}

.purple-number {
    text-align: center;
    font-size: 13px;
    color: white;
    background-color: $primary;
    border: solid 2px $primary;
    border-radius: 100%;
    width: 16px;
    margin: -10px;
    z-index: 1;
}

.restaurant-card {
    display: flex;
    width: 90%;
    height: 215px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin: 3%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    position: relative;
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
    }
    &:nth-of-type(1) img {
        object-position: bottom;
    }
    &:nth-of-type(2) img {
        object-position: center 62%;
    }
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    height: 65px;
    .card-txt {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 3%;
        .restaurant-place {
            p {
                font-weight: 100;
            }
        }
    }
}

.nouveau {
    position: absolute;
    z-index: 1;
    background-color: $light-green;
    border: solid 5px $light-green;
    border-radius: 2px;
    top: 11px;
    right: 11px;
    p {
        font-size: 13px;
        font-weight: 600;
        color: $dark-green;
        padding-right: 7px;
        padding-left: 6px;
    }
}

.dish-card {
    width: 95%;
    height: 65px;
    background-color: white;
    border-radius: 15px;
    margin: 3%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    position: relative;
    .card-content {
        justify-content: unset;
        width: unset;
        .card-txt {
            width: 80%;
        }
        .dish-name p {
            font-size: 15px;
            margin: 2px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .dish-content p {
            font-size: 13px;
            font-weight: 100;
            margin: 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .dish-price p {
            padding: 20px 10px 0 10px;
            font-size: 15px;
            font-weight: 700;
            color: $dark-grey;
        }
    }
    &:hover .add-to-cart {
        position: relative;
        clip-path: inset(0 0 0 5%);
        left: 0;
        border-radius: 0 15px 15px 0;
    }
    &:hover .card-txt {
        width: 58%;
    }
}